input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
background-image: url('d5saavl-90d1553d-ed93-4eba-a839-f166189e93a5.gif');
background-repeat: no-repeat;
background-position: right;
background-size: 50px 50px;

}


input[type=submit]:hover {
  background-color: #45a049;
background-image: url('di2a6n0-68fe4f39-f0db-4045-87af-ba4974f6faef.gif');
background-repeat: no-repeat;
background-position: right;
background-size: 50px 50px;
}

 
@media screen and (min-width: 800px) {
  image,div,input[type=text],  input[type=submit], input[type=email] {
    width: 100%;
    margin-top: 0;
	text-align: center;
  }
}
form {
  display: inline-block;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(red, yellow);
font-family: Lucida Console, Monaco, Monospace;
}
div{
	text-align: center;
	
}
body{
background-color:orange;
background-repeat: no-repeat;
background-size: 2000px 2000px;
font-family: Arial, Helvetica, sans-serif;
}

label {
  display: block;
}
#image {
            display: none;
        }
h1{
   font-size: 1.975em; /* 22px */
   margin-bottom: 0.3092em;
color: #4CAF50;
background: linear-gradient(to top, #ff9900 0%,#ffff99 100%);
		}
@font-face {
   font-family: myFirstFont;
   src: url(sansation_bold.woff);
   font-weight: bold;
}

* {
   font-family: myFirstFont;
}
@media only screen and (min-width: 800px) {
  body {
    background-color: red;
	
  }
}
html{
line-height: 1.6;
}
